body{
    background-color: black;
    padding: 3% 10%;
}

main{
    display: grid;
    justify-content: center;
    grid-template-columns: 2.75rem 1fr 1fr 1fr;
    gap: 1rem;

    width: 75%;
}

main div{   
    padding: 5px;
    color: rgb(146, 0, 68);
    background-color: rgb(188, 188, 188);
    font-weight: bold;
    font-size: 24px;
    justify-content: center;
}

main div img {
    width: 30px;
}

.red{
    color: red;
}

.green{
    color:rgb(0, 196, 0);
}